/* for Yet-another Chrome Bookmark Manager (ycbm) */

html,body {
  height: 100%;
}

.toolbar {
  margin: 0;
}
.toolbaritem {
  display: inline;
}

.split-pane {
  height: 100%;
}

.split-pane-divider {
  background: #aaa;
}

#mainfolders {
  width: 200px;
  bottom: 0;
}

#maindivider {
  left: 200px; /* same as the width of #mainfolders */
  width: 4px;
}

#maincontents {
  left: 200px; /* same as the width of #mainfolders */
  margin-left: 4px;  /* same as the width of #maindivider */
}
